body{
    font-family: 'Comfortaa';
    overflow-x: hidden;
}
.color-blue-1{
    color: #0066C3!important;
}
h1, h2, h3,p {
text-rendering: auto!important;
}
.navbar-links{
    font-size: 14px;
    font-weight: 700;
}

.navbar-logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar-sub{
    font-size: 8px;
    font-weight: 700;
}

.min-height-100{
    min-height: 100vh!important;
}

.blue-bg{
    background: #0066C3!important;
}
.border-black-1{
    border: 1px solid black!important;
    border-radius: 10px;
}

.main-title{
    font-size: 32px;
    font-weight: 700;
}

.main-title-1{
    font-size: 28px;
    font-weight: 700;
}

.main-subtitle{
    font-size: 18px;
}
.main-button{
    background: #2BBFFF;
    color: white!important;
    font-size: 18px;
}
.main-img{
    width: 90%;
}
.add_button{
    height: 40px; width: 40px; border-radius: 50%; border: 1px solid gray;
}

.bg-light-blue{
    background: rgba(0, 102, 195, 0.3);
}
.my-arrow{
    color: white;
}

.my-arrow{
    background: #7B7B7B;
}
.my-arrow::after{
    border-left: 16px solid #7B7B7B;
}

.my-arrow-success{
    background: #00C838!important;
}
.my-arrow-success::after{
    border-left: 16px solid #00C838!important;
}

.my-arrow-error{
    background: #FF0000!important;
}
.my-arrow-error::after{
    border-left: 16px solid #FF0000!important;
}




@media screen and (max-width: 400px) {
    .main-title{
        font-size: 22px;
        font-weight: 700;
    }
    .main-title-1{
        font-size: 18px;
        font-weight: 700;
    }
    .main-subtitle{
        font-size: 14px;
    }
    .main-button{
        background: #2BBFFF;
        color: white!important;
        font-size: 14px;
    }
    .my-arrow{
        width: 100%;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px){
    .main-title{
        font-size: 26px;
        font-weight: 700;
    }
    .main-subtitle{
        font-size: 16px;
    }
    .my-arrow{
        width: 100%;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .main-title{
        font-size: 26px;
        font-weight: 700;
    }
    .main-subtitle{
        font-size: 16px;
    }
    .my-arrow{
        width: 100%;
    }
}

@media screen and (min-width: 800px){
    .my-arrow{
        width: 25%;
    }
}
